<!DOCTYPE html>
<html>
  <head>
    <title>FootballTalk</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  </body>
</html>.
